<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jakubkaleta.checklist" android:versionCode="29"
	android:versionName="1.55">
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="11"></uses-sdk>
    
	<application android:icon="@drawable/appicon"
	    android:theme="@android:style/Theme.Holo"
		android:label="@string/app_name">
		<activity android:name="ActivityList" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="CategoryList" android:label="@string/manage_categories">
		</activity>
		
		<activity android:name="AllToDoItemsReport" android:label="@string/quick_report_menu_item">
		</activity>
		
		<activity android:name="AddEditActivity" android:label="@string/add_activity">
		</activity>

		<activity android:name="Configuration" android:label="@string/settings">
		</activity>

		<activity android:name="AddEditCategory" android:label="+@string/add_category">
		</activity>

		<activity android:name="AddEditEntry" android:label="@string/add_entry">
		</activity>

		<activity android:name="TabbedEntries" android:label="@string/activity_details">
		</activity>

		<activity android:name="EntriesFlipper" android:label="@string/activity_details">
		</activity>
		
		<activity android:name="DatabaseExchange" android:label="@string/database_exchange">
		</activity>
		
		<provider android:name="com.jakubkaleta.checklist.DataAccess.ChecklistDataProvider"
			android:authorities="com.jakubkaleta.checklist.DataAccess.Activity;com.jakubkaleta.checklist.DataAccess.Category;com.jakubkaleta.checklist.DataAccess.Entry;com.jakubkaleta.checklist.DataAccess.ApplicationState;com.jakubkaleta.checklist.DataAccess.Configuration" />
	</application>	
</manifest> 